.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    gap: 60px;
    padding: 20px;
}

.description{
    width: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description h3{
    color: black;
    margin-bottom: 20px;
    font-size: 1.5rem;
}


.description p{
    width: 90%;
    color: black;
    font-size: 1rem;
    padding: 10px;
    line-height: 1.5;
}

.photoContainer{
    display: flex;
    width: 500px;
}

.photo{
    width: 75%;
    margin: auto;
    
}

@media (max-width:500px) {
    
    .about{
        gap: 30px;
    }
    .photo{
        width: 60%;
        margin: auto;
    }

    .description h3{
        font-size: 1.3rem;
    }
    .description p{
        font-size: 0.8rem;
    }
}